.Item {
  border: 1px solid $light-grey;
  border-width: 0 0 1px;
  display: flex;
  height: 71px;
  max-width: 74em;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  overflow: hidden;
  padding: .5rem;
  position: relative;
  transition: opacity .2s ease-out;
}

.Item__name {
  color: $dark-grey;
  width: 100%;
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.Item__link {
  color: $mid-grey;
  font-size: 12px;
  display: flex;
  width: 100%;
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.Item__buttons {
  position: absolute;
  top: 0;
  right: 0;
}
